@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Artificial Selection vs Natural Selection</h1>
    <p class="lead">In this game you will play the role of Artificial Selection. The opponent Biomorph will be selected naturaly. Try to outlast the naturaly selected biomorphs.</p>
</div>

<div class="row">
    @Html.ActionLink("Begin", "NewWorld", "Game");
</div>